[submodule "klee"]
	path = klee
	url = https://github.com/klee/klee
[submodule "klee-uclibc"]
	path = klee-uclibc
	url = https://github.com/klee/klee-uclibc
[submodule "klee-float"]
	path = klee-float
	url = https://github.com/sjudson/klee-float
[submodule "tomlplusplus"]
	path = tomlplusplus
	url = https://github.com/marzer/tomlplusplus
[submodule "cvc5"]
	path = cvc5
	url = git@github.com:cvc5/cvc5.git
[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:llvm/llvm-project.git